@font-face {
  font-family: AtkinsonHyperlegible;
  font-style: normal;
  font-display: swap;
  font-weight: normal;
  src: local(''),
    url(/assets/fonts/atkinson/Atkinson-Hyperlegible-Regular-102a.woff2) format('woff2'),
    url(/assets/fonts/atkinson/Atkinson-Hyperlegible-Regular-102.woff) format('woff');
}

@font-face {
  font-family: AtkinsonHyperlegible;
  font-style: normal;
  font-display: swap;
  font-weight: bold;
  src: local(''),
    url(/assets/fonts/atkinson/Atkinson-Hyperlegible-Bold-102a.woff2) format('woff2'),
    url(/assets/fonts/atkinson/Atkinson-Hyperlegible-Bold-102.woff) format('woff');
}

@font-face {
  font-family: AtkinsonHyperlegible;
  font-style: italic;
  font-display: swap;
  font-weight: normal;
  src: local(''),
    url(/assets/fonts/atkinson/Atkinson-Hyperlegible-Italic-102a.woff2) format('woff2'),
    url(/assets/fonts/atkinson/Atkinson-Hyperlegible-Italic-102.woff) format('woff');
}

@font-face {
  font-family: AtkinsonHyperlegible;
  font-style: italic;
  font-display: swap;
  font-weight: bold;
  src: local(''),
    url(/assets/fonts/atkinson/Atkinson-Hyperlegible-BoldItalic-102a.woff2) format('woff2'),
    url(/assets/fonts/atkinson/Atkinson-Hyperlegible-BoldItalic-102.woff) format('woff');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local(''),
    url(/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2)
      format('woff2'),
    url(/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff) format('woff');
}
